*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

section{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0 ;
    gap: 40px;
}

.Cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Card-individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Card-individual img{
    width: 10%;
    opacity: 0.3;
}

.textoBeneficio{
    width: 60%;
    text-align: center;
}

footer{
    background-color: white;
    display: flex;
    width: 90%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 5%;
}

.contact{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact h1{
    margin-bottom: 10%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
}

.lados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ladoInterno{
    display: flex;
    flex-direction: row;
    gap: 20px;
    opacity: 0.5;
}

.contact h3{
    margin-bottom: 10%;
}

.container img{
    width: 8%;
}

.redesSociales{
    display: flex;
    gap: 10px;
}

.redesSociales img{
    width: 20px;
}

.mapa{
    width: 40%;
}

.map iframe{
    width: 100%;
    height: 20rem;
}

@media(max-width:768px){
    footer{
        flex-direction: column;
        align-items: center;
    }

    .contact{
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .redesSociales{
        display: flex;
        align-items: end;
        width: 100%;
        flex-direction: row-reverse;
    }

    .mapa{
        width: 80%;
    }

}

@media(max-width:426px){
    .Subtitulo{
        width: 80%;
        text-align: center;   
    }

    .Cards{
        flex-direction: column;
        gap: 30px;
        width: 70%;
    }

    .Card-individual{
        border: solid 1px black;
        border-radius: 10px;
        padding: 15px 0 15px 0;
    }

    .contact h3{
        margin-bottom: 5%;
    }
    
    .container{
        flex-direction: column;
        gap: 30px;
    }

    .mapa{
        width: 100%;
    }

}